<div class="flex justify-center pt-8">
  <div class="flex w-xl flex-col items-center">
    <h2 class="mb-4 text-xl font-bold"><%=title%></h2>
    <% files.forEach ((file, i)=> { %>
    <div
      class="<%=i % 2 !== 0 ? 'bg-slate-100 p-2' : 'bg-slate-200 p-2'%> flex w-full justify-between gap-2 border-2 border-slate-200 shadow-md"
    >
      <div class="flex w-3/8 gap-1">
        <img class="h-6 w-6" src="/icons/file.svg" alt="" />
        <p class="truncate"><%=file.fileName%></p>
      </div>
      <p class="w-1/8"><%=file.fileSize%></p>
      <p class="w-2/8"><%=file.uploadDate%></p>
      <% if (page === '/files') { %>
      <div class="flex w-1/8 justify-end">
        <img class="h-6 w-6" src="/icons/share.svg" alt="" />
        <a href="<%=file.filePath%>">
          <svg
            class="fill-green-600 hover:cursor-pointer hover:fill-green-500"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="currentColor"
          >
            <path
              d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"
            />
          </svg>
        </a>
      </div>
      <% } %>
    </div>
    <% }) %>
  </div>
</div>
