<div class="flex justify-center">
  <% if (shares.length == 0) { %> <%- include('warning', { text: "You haven't shared any files yet" }) %> <% } else { %>
  <div class="w-2xl p-8">
    <h1 class="text-center text-xl font-bold">My Shares</h1>
    <div class="pt-4">
      <% shares.forEach((share, i)=> { %>
      <div
        class="<%=i % 2 !== 0 ? 'bg-slate-100' : 'bg-slate-200'%> flex w-full flex-col border-2 border-slate-200 p-2 text-[clamp(0.875rem,3.7vw,1rem)] shadow-md sm:flex-row"
      >
        <% if (share.folder) { %>
        <div class="flex flex-1 items-center gap-1 truncate">
          <img src="/icons/folder.svg" alt="" />
          <a class="truncate font-bold text-blue-500 hover:underline" href="/shared-folder/<%=share.id%>">
            <p class="truncate"><%=share.folder.folderName%></p>
          </a>
        </div>
        <% } else { %>
        <div class="flex flex-1 items-center gap-1 truncate">
          <img src="/icons/file.svg" alt="" />
          <a class="truncate font-bold text-blue-500 hover:underline" href="file/<%=share.file.cloudinaryId%>">
            <p class="truncate"><%=share.file.fileName%></p>
          </a>
        </div>

        <% } %>
        <p class="pl-7 sm:w-full sm:max-w-40 sm:pl-0"><%=share.status ? `Expires ${share.status}`: 'Expired' %></p>
      </div>
      <% }) %>
    </div>
  </div>
  <%} %>
</div>
